# Local/dev artifacts
.config/
.dart-tool/
.flutter
.flutter/
.gemini/
.gradle/
.pub-cache/
.tools/
.idea/
.next/
.npm-cache/
node_modules/
build/
ott.iml

# App-specific local content
apps/mobile/
apps/web/.env.local
apps/web/.next/
apps/web/next-env.d.ts
deploy/.gemini/
apps/api/bootrun.log
